:host {
    display: grid;

    width: 100%;
    height: 5vh;
    background-color: var(--buttonBackground);

    grid-template-columns: calc(5vh * 16/9) auto;

    &:hover {
        background-color: var(--buttonBackground_selected);
    }

}

img {
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

span {
    grid-column: 2 / 3;

    justify-self: left;
    align-self: center;

    margin-left: 10px;
}