<bug-nav-item routerLinkActive="active" routerLink="home"
              title="home" faIcon="fa-home"
></bug-nav-item>

<bug-nav-item routerLinkActive="active" routerLink="account"
              title="Account" faIcon="fa-user"
></bug-nav-item>

<bug-nav-item routerLinkActive="active" routerLink="services"
              title="Services" faIcon="fa-server"
></bug-nav-item>

<bug-nav-item routerLinkActive="active" routerLink="contact"
              title="Contact" faIcon="fa-contact-card"
></bug-nav-item>
